@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    /* background-color: orange;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
    background-color: #072235;
}

.title{
    margin-top: 3rem;
    color: #d90429;
    text-align: center;
    /* font-family: 'Silkscreen'; */
    font-size: 20px;
}
#onlychat-logo{
    width: 100px;
    height: 100px;
}
#appname {
    font-family: 'Silkscreen';
}
.overview{
    color: white;
}
.main{
    margin-top: 1rem;
    border: 8px solid #4dccbd;
    border-radius: 24px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.name {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #4dccbd;
    background-color: #4dccbd;
}

.name > span {
    color: #072235;
}

.name-input {
    font-size: 24px;
    font-weight: 700;
    color: #072235;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #4dccbd;
    font-family: 'Silkscreen';
}

.message-container {
    display: flex;
    flex-direction: column;
    /* background-color: #f; */
    width: 450px;
    height: 400px;
    scroll-behavior: smooth;
}

.message-left, .message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: self-start;
    background-color: #f0ebd8;
    /* box-shadow: -2px 2px 4px #dcdcdc; */
}
.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: self-end;
    background-color: #da2c38;
    /* box-shadow: 2px 2px 4px #dcdcdc; */
    color: #f6f6f6;
}

.message-left > p > span {
    display: block;
    color: darkblue;
    font-style: italic;
    font-size: 10px;
    margin-top: 4px;
}

.message-right > p > span {
    display: block;
    color: lightgray;
    font-style: italic;
    font-size: 10px;
    margin-top: 4px;
}

.feedback {
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.message-form {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.message-input {
    flex-grow: 1;
    height: 48px;
    border: none;
    outline: none;
    margin-top: .5rem;
    margin-left: .5rem;
    padding: 0 12px;
    border: 3px solid #003554;
    border-radius: 12px;
    color: #4dccbd;
    font-size: 20px;
    background-color: #072235;

}

.send-button {
    margin-top: .5rem;
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    color: white;
    background-color: #072235;
    cursor: pointer;
}
.v-divider {
    height: 4px;
    width: 2px;
    background-color: #072235;
}

.client-total {
    margin: 20px 0px;
    font-family: 'Silkscreen';
    color: #4dccbd;
    text-align: center;
}